* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    cursor: default;
}

body {
    background: #bbbbbb;
    height: 100vh;
    display: grid;
    /* justify-content: center; */
    align-items: center;
}
